# Compiled Object files
*.slo
*.lo
*.o
*.ncb
*.suo
*.user
*.aps
Debug
VPKReader/Debug
VPKReader/Release
Release/VPKReader.pdb

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

